$primaryshadow: rgba(0,0,0,0.5);
$primaryColor: black;
$navmargin: 90px;
$primaryheading: #ffffff;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

@mixin flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.logo {
    width: 85px;
    max-width: 100%;
    height: auto;
}

.navStyle {
    background-color: $primaryshadow;
    height: $navmargin;
}

.navbarNav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.socialBar{
    display: flex;
    float: right;
}

.navlinks, .navSocial {
    display: inline-block;
    color: #adb4b9;
    font-weight: 500;
    margin: 1rem;
    padding: 0.75rem;
    transition: transform .3s cubic-bezier(0.55, 0, 0.55, 0.2);
    transform-origin: 50% 50%;
    
    
    

    &:hover {
        color: #ffffff;
        transform: scale(1.05);
        text-decoration: none;
        
    }
    

}

.navSocial {
    margin: 1rem 0.25rem ;
    padding: 0.75rem 0.25rem!important;

    &:hover {
        color: #ffffff;
        transform: scale(1.1);
        text-decoration: none;
    }
}

.bannerDiv {
    width: 100%;
    height: 650px;
    background-image: url("../images/header/bg.jpg");
    background-position: center center;
    background-size: cover;
    z-index: -9999;
    margin-top: -$navmargin;
    display: flex;
}

//ShowCase 

.bannerCon{
    @include flexCenter;
    background-color: $primaryshadow;
    margin-top: $navmargin;
    
}


.bannerRow {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    

}

.heading1 {
    font-size: 3.5rem;
    color: $primaryheading;
    text-transform: uppercase;  
}
.heading3 {
    font-size: 1.50rem;
    letter-spacing: -1px;
    color: $primaryheading;
    margin-bottom: 1rem;
}
.heading5 {
    color: #adb4b9;
}

.headerCol {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
}